* {
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    margin: 0 auto;
}
header {
    background-color: #a52a2a;
    height: 70px;
}
aside {
    width: 20%;
    height: 300px;
    background-color: #9db321;
    float: left;
}
section {
    width: 80%;
    background-color: cornflowerblue;
    height: 300px;
    float: left;
}
footer {
    background-color: darkgoldenrod;
    height: 80px;
    clear: both;
}