h1{
    border:2px solid #000;
    width: 300px;
    border-radius: 15px;
}
.div p{
    background-color: coral;
    border:2px solid #000;
    width: 300px;
    border-radius: 15px;
    box-shadow: 15px -15px 15px 10px #000;
}
p{
    width: 300px;
    background-color: darkmagenta;
    border:2px solid #000;
    border-radius: 15px;
    padding: 15px;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
}
h2{
    background-image: url(../imagenes/lapiz.png);
    background-repeat: no-repeat;
    padding-left: 30px;
}

#borderimg2 p{

    border:10px solid transparent;
    border-image: url(../imagenes/border.png) 8 stretch;
    padding-left: 15px ;

}
.borde3{
    background-color: blanchedalmond;
    width: 300px;
    height: 100px;
    -webkit-box-shadow: 200px 200px 181px 83px rgba(0,0,0,0.93);
    -moz-box-shadow: 200px 200px 181px 83px rgba(0,0,0,0.93);
    box-shadow: 200px 200px 181px 83px rgba(0,0,0,0.93);
    }