*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    flex-direction: column;
    background-color: black;
}
.menu{
    background-color: blue;
    display: flex;
    height: 100px;
    align-items: center;
}

.logo{
    background-color: bisque;
    height: 40px;
    flex: 1 1 auto;
}
.nav{
    background-color: rgb(207, 151, 81);
    height: 40px;
    flex: 1 1 auto;
}
.social{
    background-color: rgb(168, 168, 226);
    height: 40px;
    flex: 1 1 auto;
}
.titulo{
    background-color:  coral;
}
h1{
    margin: 0;
    padding: 0;
    background-color:  chartreuse;
}
section{
    background-color: black;
    display: flex;
}
.articulos{
    background-color: aqua;
    display: flex;
    flex: 2 1 auto;
    flex-wrap: wrap;
}
.articulo{
    background-color: chartreuse;
    flex: 1 1;
    height: 100px;
}
.navegacion{
    background-color: grey;
    flex: 1 1 100%;
}
aside{
    background-color: rgb(172, 71, 41);
    flex: 1 1 auto;
}
.publicidad{
    background-color: blanchedalmond;
}
footer{
    background-color:  black;
    display: flex;
    justify-content: center;
}
.nav2{
    width: 50%;
    background-color: brown;
}

/*media querys*/

@media all and (max-width: 800px)
{
    section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .logo, .nav, .social{
        width: 100%;
        flex: 1 1 auto;
        text-align: center;
    }
    .articulo{
        flex: 1 1 100%;
    }
}
/*
section, footer, header{
    width: 100%;
    height: 100px;
    background-color: aqua;
}*/